venv
.snakemake
.vscode
__pycache__
logs
core*
slurm8
Test
slurm*
*/.ipynb_checkpoints/*
epochs/logs/
epochs/results
workflow/.ipynb_checkpoints/
epochs/.snakebids
epochs
code/DSP/test2.edf
code/DSP/NoiseDetection/clean_seeg/.ipynb_checkpoints/*
code/DSP/.ipynb_checkpoints/
code/DSP/NoiseDetection/.ipynb_checkpoints/
code/DSP/NoiseDetection/clean_seeg/autoreject/.ipynb_checkpoints
