venv
.snakemake
.vscode
__pycache__
logs
core*
slurm8
Test
slurm*
code/Position/.ipynb_checkpoints/
code/DSP/.ipynb_checkpoints/*
epochs/logs/
epochs/results
workflow/.ipynb_checkpoints/
epochs/.snakebids
epochs/config/
code/DSP/test2.edf
code/Position/output.html
*.ipynb_checkpoints/
